/* Home Section */


.i {
  display: flex;
  height: 100vh;
}


.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.i-left-wrapper .colz .colz-icon i{
  color: crimson;
  padding: 3px;
  margin-left: -2px;
}

.colz .colz-icon i:hover{
  transform: scale(1.5);
}


.i-name {
  font-size: 60px;
  font-weight: 300;
}

.i-title {
  height: 50px;
  overflow: hidden;
}


.i-title-wrapper {
  height: 100%;
  animation: move 13s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-right {
  flex: 1;
  position: relative;
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: crimson;
  display: flex;
  align-items: center;
  padding: 2px;
}

.i-img {
  height: 92%;
  width: 80%;
  object-fit: cover;
  padding-top: 60px;
}

.i-bg {
  /* clip-path: polygon(100% 0%, 81% 45%, 100% 94%, 39% 76%, 0 50%, 36% 8%); */
  clip-path: polygon(100% 0%, 100% 46%, 100% 100%, 56% 88%, 0% 50%, 51% 2%);
  background-color: crimson;
  height: 100%;
  width: 100%;
}

/*  for Mobile screens */

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }
  

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
  }

  .i-desc {
    display: none;
  }

  .i-nav-elements{
      display: none;
  }
}

/* Home Section End */

/* About Section starts here */

.a {
  height: 100vh;
  display: flex;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: crimson;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.a-title {
  font-weight: 600;
}

.a-sub {
  margin: 20px 0px;
}

.a-desc {
  font-weight: 300;
}

@media screen and (max-width: 480px) {
  .a {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .a-left {
    width: 100%;
  }

  .a-card {
    height: 30vh;
  }

  .a-card.bg {
    display: none;
  }

  .a-right {
    padding: 20px;
    text-align: center;
    font-weight: 500;
  }
}

/* About section ends here.. */

/* contact me Section starts here */

.c {
  height: 100vh;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.c-bg {
  width: 20px;
  height: 100vh;
  background-color: crimson;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
  justify-content: space-between;
}

.c-title {
  font-size: 55px;
  font-weight: 700;
  width: 80%;
}

.c-subtitle {
  font-size: 27px;
  font-weight: 200;
  margin: 0 0 90px 0;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: 400;
  width: 80%;
}

.c-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-desc {
  font-weight: 400;
  font-size: 20px;
}

form {
  margin-top: 10%;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 10px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 10px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  margin: 10px 10px;
  border: none;
  background-color: crimson;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  border: 1px solid crimson;
  color: crimson;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
  }

  .c-title {
    font-size: 30px;
  }

  .c-subtitle {
    text-align: center;
    margin-top: 30px;
  }

  .c-info-item {
    margin: 20px;
    width: 100%;
  }
  .c-desc {
    margin-top: 30px;
  }

  .c-bg {
    height: 139vh;
  }

  form {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }
}
/* Contact me section ends here */


/* thanks.html styles */

/* header */

*{
  margin: 0;
  padding: 0;
}

.top{
  font-family: "Poppins", sans-serif;
  height: 70vh;
  width: 100%;
  background-color: white;
}

.tick{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tick img{
  height: 74px;
  width: 95px;
  padding-top: 60px;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black
}

.heading h1{
  padding: 20px;
  font-weight: lighter;
  font-size: 50px;
}

.heading .sub-heading{
  padding: 10px;
  color: rgb(88, 86, 86);
}

.goback button{
  margin-top: 70px; 
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;

}

.bottom{
  height: 30vh;
  width: 100%;
  background-color: crimson;
  font-family: "Poppins", sans-serif;
}

.links{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.cols a i{
  color: white;
  padding: 3px;
  margin-left: -2px;
  align-items: center;
  padding-top: 20px;
  height: 10px;
  width: 10px;
}

.col a i:hover{
  transform: scale(1.5);
}

.footer-details{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  flex-direction: column;

}

.footer-details h3{
  color: white;
  font-weight: 300;
}

.sub-details{
  justify-content: center;
}

.footer-details h5{
  color: white;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
}

@media screen and (max-width: 480px){
  .top{
    text-align: center;
  }

  .bottom{
    text-align: center;
  }
}


